---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="mt-25 flex justify-center">
        <iframe title="informe-costes-portfolio" 
        src="https://app.fabric.microsoft.com/view?r=eyJrIjoiMjQzNTQ0ZGYtMGM5Yy00ZTJmLWJjYzctMTRlZTlkYzI3MGE2IiwidCI6IjY2MDBhZTk3LWEwZTktNDdhMC05MTRkLWQ1NWY2ZDFhOGY1YSIsImMiOjh9" 
        frameborder="0" 
        allowFullScreen="true" 
        class=" 
        h-screen md: aspect-video
        w-screen md: w-full"/>
    </div>
</Layout>
