@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  /* Al definir --font-pixel, Tailwind crea automáticamente la clase .font-pixel */
  --font-pixel: "Press Start 2P", cursive;
  
  /* También puedes definir tus colores aquí si quieres usarlos como clases de tailwind 
     ej: bg-primary, text-secondary, etc. Esto sustituye a tus clases .bg-primary manuales */
  --color-primary: #7836cf;
  --color-secondary: #512092;
}

@keyframes sprite-animation {
  from { background-position: 0px; }
  to { background-position: var(--scroll-end); } 
}

@utility animate-sprite {
  animation-name: sprite-animation;
  animation-iteration-count: infinite;
  /* La duración y los pasos los definiremos en el componente */
}

@keyframes pixel-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.pixel-spinner {
  width: 16px;
  height: 16px;
  
  /* Borde sólido y cuadrado */
  border: 2px solid white; 
  border-radius: 0; /* ¡Importante! Cero redondez para que sea pixelado */
  
  /* Hacemos un lado transparente para que se vea el giro */
  border-top-color: transparent; 
  border-left-color: transparent; /* Opcional: quita este si quieres una "U", déjalo para una "L" */

  /* La magia: steps(4) hace que salte en 4 posiciones en vez de girar suave */
  animation: pixel-spin 0.8s steps(4) infinite;
}

.primary {
  color: #7836cf;
}
.secondary {
  color: #512092;
}
.bg-primary {
  background-color: #7836cf;
}
.bg-secondary {
  background-color: #512092;
}
.text-primary {
  color: #7836cf;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #7836cf;
}
.hover-bg-secondary:hover {
  background-color: #7836cf;
}
.hover\:bg-secondary:hover {
  background-color: #512092;
}
.hover\:text-secondary:hover {
  color: #512092;
}

.text-shadow {
  text-shadow: 2px 2px 0 #620deb;
}

.text-shadow-cyan {
  text-shadow: 2px 2px 0 #0debd8;
}

/* estilos del home */

@keyframes gradientMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-250px) translateY(120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes gradientMove2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(250px) translateY(-120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.animate-gradientMove {
  animation: gradientMove 8s ease-in-out infinite alternate;
}

.animate-gradientMove2 {
  animation: gradientMove2 8s ease-in-out infinite alternate;
}

.text-shadow {
  text-shadow: 2px 2px 0 #6d0deb;
}
