annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
brotli==1.2.0
cffi==2.0.0
click==8.3.1
cssselect2==0.8.0
fastapi==0.128.0
fonttools==4.61.1
h11==0.16.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
pillow==12.1.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
pyphen==0.17.2
starlette==0.50.0
tinycss2==1.5.1
tinyhtml5==2.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
weasyprint==68.0
webencodings==0.5.1
zopfli==0.4.0
