name: "Build and Deploy PDF Service Image"

on:
    workflow_dispatch:
    push:
        tags:
            - 'pdf-v*'
    

permissions:
    contents: read
    packages: write
    attestations: write
    id-token: write

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: "ualia946/pdf-cv-generator"
    CONTAINER_APP_NAME: "ca-pdf-generator"
    RESOURCE_GROUP: "rg-webapp"

jobs:
    build-and-push-image:
        name: Build Docker Image
        runs-on: ubuntu-latest
        
        steps:
            - name: "Checkout repository"
              uses: actions/checkout@v4

            - name: "Log in to the Container registry"
              uses: docker/login-action@v3
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.TOKEN_GITHUB }}
            
            - name: Extract metadata (tag and labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                   
            - name: Build and push Docker image
              id: push
              uses: docker/build-push-action@v5
              with:
                context: ./pdf-service/
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
            
            - name: Delete old version image
              uses: actions/delete-package-versions@v5
              with:
                package-name: 'pdf-cv-generator'
                package-type: 'container'
                min-versions-to-keep: 2
                delete-only-untagged-versions: false
                token: ${{ secrets.TOKEN_GITHUB }}
    
    deploy-image-aca:
      environment: 
        name: 'Production'
      needs: build-and-push-image
      name: "Image deploy to ACA"
      runs-on: ubuntu-latest
      
      steps:
        - name: Login to Azure
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C2F9ABB718B24F1B828033AC756B768A }}
            tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AEE88C9DB6BD4147A176D36AD2761518 }}
            subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8DC390769A7343AC85E2AF2796D41C4F }}

        - name: Deploy new image via Azure CLI
          uses: azure/CLI@v1
          with:
            inlineScript: |
              az config set extension.use_dynamic_install=yes_without_prompt
                 
              az containerapp update \
                --name ${{ env.CONTAINER_APP_NAME }} \
                --resource-group ${{ env.RESOURCE_GROUP }} \
                --image ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}


            
        
                
            
            