name: Main CI/CD Pipeline
on:
    push:
    pull_request:
        branches: ['main']
jobs:
    detect-changes:
        runs-on: ubuntu-latest
        outputs:
            api: ${{ steps.changes.outputs.api }}
            webapp: ${{ steps.changes.outputs.webapp }}
        steps:
            - name: "Checkout repository"
              uses: actions/checkout@v4

            - name: "Detect repository path changes"
              uses: dorny/paths-filter@v2
              id: changes
              with:
                filters: |
                    api:
                        - 'api/**'
                    webapp:
                        - 'webapp/**'
                        
    quality-gate:
        name: "Test (Playwright)"
        uses: ./.github/workflows/playwright.yml
        secrets: inherit
        needs: detect-changes
         
    deploy-api:
        name: "Deploy API"
        needs: [detect-changes ,quality-gate]
        if: ${{ needs.detect-changes.outputs.api == 'true' }}
        uses: ./.github/workflows/deploy-api.yml
        secrets: inherit
        
    deploy-webapp:
        name: "Deploy Webapp"
        needs: [detect-changes ,quality-gate]
        if: ${{ needs.detect-changes.outputs.webapp == 'true' }}
        uses: ./.github/workflows/deploy-webapp.yml
        secrets: inherit
        