name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
env:
  PUBLIC_API_URL: "http://localhost:7071/api/actualizarVisitas"
  PUBLIC_API_CHATBOT_URL: "http://localhost:7071/api/obtenerRespuestaChatBot"
  PUBLIC_API_INFRAESTRUCTURE_URL: "http://localhost:7071/api/obtenerInfraestructura"
  PUBLIC_API_SYSTEM_STATUS_URL: "http://localhost:7071/api/obtenerEstadoSistema"
  PUBLIC_API_GET_LOCATIONS_URL: "http://localhost:7071/api/obtenerTraficoGeo"
  PUBLIC_API_REGISTER_LOCATION_URL: "http://localhost:7071/api/registrarTraficoGeo"
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies (Root)
      run: npm ci
    - name: Install dependencies (Webapp)
      run: |
        cd webapp
        npm ci
    - name: Install dependencies (API)
      run: |
        cd api
        npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
